.idea
.sass-cache
.app-src
.src
node_modules
tmp
test-assets
/coverage
release
.DS_Store

npm-debug.log
tsd-debug.log

typings

*.js
*.js.map

# Don't ignore karma.conf.js, even though it is a JS file
!karma.conf.js
