# TypeScript files
src/**/*.ts

# Tests
src/**/*.spec.js

# TSD typings
typings

# ESLint config
.eslintrc

# .gitignore
.gitignore

# Karma configuration
karma.conf.js
karma.conf.json

# Node modules (npm will install these for us properly)
node_modules

# TypeScript config
tsconfig.json

# TSD configuration
tsd.json
