@import '../src/popgun';

html, body, #popgun-examples-container {
}

#popgunPerfSection {
	display: flex;
	flex-wrap: wrap;

	> .popgun-example {
		flex: 1;
		margin: 0 1em 1em 0;
	}
}

.pop-example-block {
	width: 200px;
	height: 200px;
}

label, button {
  display: block;
  margin-bottom: 10px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#left {
  border-right: 1px solid #333;
}

.target {
    width: 100px;
    height: 100px;
    padding: 10px;
    background: #cacac9;
    margin-bottom: 50px;
}

.different-class {
    background: #67bbaa;
}

.very-different-class {
    background: #f16b50;
}
